#mainBackground{
    background-color: rgb(155, 136, 136);
    /* background-image: url("/images/background.jpeg"); */
    height: 100vh;
    width: 100vw; 
    display: flex;
    justify-content: center;
      
}
#board{
    background-color: white;
    border: 2px solid orangered;
    width: 1200px;
    height: 550px;  
    margin: 50px;
    position: relative;
}
#skybackground{
    /* background-color: blue; */
    background-image: url("/images/sky.avif");
    width: 100%;
    height: 35%;
}
#seaBackground{
    background-image: url("/images/waves.gif");
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    height: 100%;
    position: relative;
    
}
#landBackground{
    /* background-image: url("images/grass2pixel.png"); */
    background-color: green;
    width: 30%;
    height: 100%;
  
}
 /* this class contains #aquaDiv and #greenDiv */
.earth-container{
    display: flex;
    height: 65%;
}
body{
    margin: 0%;
    padding: 0%;
}

#player{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* background-image: url("/images/Greta\ Thunberg.png"); */
    background-color: red;
    position: absolute;
    /* top: 100px;
    left: 100px; */
}

 .obstacle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* background-image: ; */
    background-color: yellow;
    position: absolute;
    top: 0;
    left: 0;
}

#scoreCounter{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 100px;
    top: 20px;
    background-color: lawngreen;
    border: 2px solid black;

}
#timerCounter{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 20px;
    background-color: fuchsia;
    border:2px solid black
}